*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
.container{
  height: 60px;
  background-color: #ebebeb;
}

.wrapper{
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left{
  flex: 1;
  display: flex;
  align-items: center;
}

.center{
  flex: 1;
  text-align: center;
}

.right{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-container{
  border: 0.5px solid darkgray;
  display: flex;
  align-items: center;
  justify-self: center;
  margin-left: 25px;
  padding: 5px;
}

.search-input{
  border: none;
  padding-right: 16rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  outline: none;
  background-color: #ebebeb;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-icon{
  color: gray;
}

.logo{
  font-weight: bold;
  cursor: pointer;
}

.menu-item{
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}

.bagNumber{
  color: rgb(244 67 54);
}
/*  */

/* Categories */
.categories-cont{
  background-color: rgb(201 171 129);
  display: flex;
  padding: 25px;
  justify-content: space-between;
}

.category-item-cont{
  flex: 1;
  margin: 3px;
  height: 84.4vh;
  position: relative;
}

.category-item-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-item-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category-item-title{
  color: white;
  margin-bottom: 20px;
}

.category-item-button{
  border: none;
  padding: 10px;
  background-color: rgba(250,250,250,0.7);
  color: black;
  cursor: pointer;
  font-weight: 600;
  border-radius: .3rem;
  transition: .3s ease-in-out;
}

.category-item-button:hover{
  background-color: rgb(201 171 129);
  
}

/*  */

/* Products */

.products-cont{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color:#f6f5ef ;
}

.product-cont{
  flex: 1;
  margin: 5px;
  min-width: 280px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product-cont-image{
  height: 100%;
  object-fit: cover;
}

.products-cont-info{
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(250,250,250,0.5);
  cursor: pointer;
  
}

.products-cont-info:hover{
  opacity: 1;
  transition: .3s ease-in-out;
}

.icon-cart{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(250,250,250,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: .3s ease-in-out;
}

.icon-cart:hover{
  background-color: #f6f5ef ;
  transform: scale(1.2);
}

/*  */

/* Single Product Page */

.single-product-wrapper{
  padding: 50px;
  display: flex;
  background-color: #f6f5ef;
}

.single-product-img{
  width: 100%;
}

.single-product-imageCont{
flex: 1;
}

.single-product-infoCont{

flex: 1;
padding: 100px 50px;
}

.single-product-title{
  font-weight: 200;
  color: rgb(201 171 129);;
}

.single-product-desc{
  margin: 20px 0px;
}

.single-product-materials{
  margin: 20px 0px;
}

.single-product-price{
  font-weight: 100;
  font-size: 40px;
}

.single-product-addCont{
  display: flex;
  padding-top: 15px;
}

.single-product-addToCart{
  padding: 15px;
  border: 2px solid darkgray;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
  transition: .3s ease-in-out;
}

.single-product-addToCart:hover{
  border: 1px solid white;
  background-color: rgb(201 171 129);
}

.single-product-price{
  color: rgb(201 171 129);
}

/*  */

/* not found */

.not-found-wrapper{
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*  */

/* Cart */

.cart-wrapper{
  padding: 20px;
}

.cart-title{
  font-weight: 300;
  text-align: center;
}

.cart-top{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-btn{
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}

.checkout-btn{
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background-color: rgb(201 171 129);
  border: none;
}

.top-text{
  text-decoration: underline;
  cursor: pointer;
  margin: 0px 10px;
}

.cart-bottom{
  display: flex;
  justify-content: space-between;
}

.cart-info{
  flex: 3;
  display: flex;
  flex-direction: column;
}

.cart-summary{
  flex: 1;
}

.cart-info{
  display: flex;
  justify-content: space-between;
}

.product-details{
  flex: 2;
  display: flex;
}

.product-details img{
  width: 100px;
  object-fit: cover;
}

.price-details{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.detail{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.amount-cont{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-amount{
  font-size: 24px;
  margin: 5px;
}

.cart-prod-price{
  font-size: 20px;
  font-weight: 200;
}

.cart-summary{
  flex: 1;
  border: .5px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  height: 50vh;
}

.summary-title{
  font-weight: 200;
}

.summary-item{
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.total-item-price{
  font-weight: 500;
  font-size: 24px;
}

.summary-btn{
  width: 100%;
  padding: 10px;
  background-color: rgb(201 171 129);
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.cartProduct{
  display: flex;
  flex-direction: column;
}

.show-item-correct{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.addAndRemove{
  cursor: pointer;
}

/*  */

/* fin */

.fin{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fin img{
  width: 100%;
  height: 100%;
}